
header h1 {
  background: linear-gradient(90deg, #ff77c6, #ff4da6, #ff77c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 6s infinite linear;
}
h2 {
    text-align: center;
}
@keyframes shimmer {
  0% { background-position: 0% }
  100% { background-position: 200% }
}


.message,
.lock-box {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}


.slides img {
  transition: transform 0.6s ease, filter 0.6s ease;
  size-adjust: 200%;
}

.slides img:hover {
  transform: scale(1.04);
  filter: brightness(1.1);
  
}


.slider,
.message {
  box-shadow:
    0 0 40px rgba(255, 77, 166, 0.25),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
}


.lock-box button,
.music {
  box-shadow: 0 0 20px rgba(255, 77, 166, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lock-box button:hover,
.music:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px rgba(255, 77, 166, 0.9);
}


.heart {
  text-shadow: 0 0 15px rgba(255, 105, 180, 0.8);
  opacity: 0.8;
}


html {
  scroll-behavior: smooth;
}


.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.2s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}


.video-heart {
  position: fixed;
  font-size: 28px;
  animation: burst 2s ease forwards;
  pointer-events: none;
}

@keyframes burst {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: translateY(-120px) scale(0.6);
    opacity: 0;
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 420px;     
  margin: 0 auto;       
  aspect-ratio: 9 / 16; 
  border-radius: 18px;
  overflow: hidden;
  background:  black;
  box-shadow: 0 0 40px rgba(255, 77, 166, 0.35);
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: contain;  
  border-radius: 18px;
  background: black;
}

